{% extends "layout.html" %}
{% block body %}
    <form class="text-left" method="post">
        <div class="form-group">
            <label for="exampleInputPassword1">Display Name</label>
            <input type="text" class="form-control" name="input_name" placeholder="John Smith"/>
        </div>
        <div class="form-group">
            <label for="input_email">Email address</label>
            <input type="email" class="form-control" name="input_email" aria-describedby="emailHelp"
                   placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                else.</small>
        </div>
        <div class="form-group">
            <label for="input_password">Password</label>
            <input type="password" class="form-control" name="input_password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="input_repeated_password">Repeat password</label>
            <input type="password" class="form-control" name="input_repeated_password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
            <small class="form"><a href="{{ url_for("login") }}">Already have an account? Log in</a></small>
    </form>
    <a href="{{ url_for("register") }}"></a>
{% endblock %}